footer {
    width: 100vw;
    height: 80px;
    border-top: 1px solid var(--bg-4);
    color: var(--t-2);
    background-color: var(--bg-2);
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    
}
footer>nav {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-anchor {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--t-1);
    font-size: var(--font-size-14);
    font-weight: 400;
    text-decoration: none;
    position: relative;
}
.footer-anchor>span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-anchor::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    width: 0%;
    height: 1px;
    background-color: var(--t-1);
    transition: var(--transition-2);
    
}
.footer-anchor:hover::after {
    width: 100%;

}