.flex-col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    grid-area: 0px;
    width: 100%;
    background-color: var(--bg-3);
}

.light-button {
    color: var(--t-2);
    font-size: var(--font-size-14);
    border: 1px solid var(--bg-4);
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-1);
    cursor: pointer;
    transition: var(--transition-1);
}

.light-button:hover {
    color:var(--t-3);
    border-color: var(--bg-3);
}


.theme-button {
    background-color: transparent;
    border: none;
    color: var(--t-1);
    font-size: var(--font-size-20);
    padding: 0.5rem;
    border-radius: 50%;
    transition: var(--transition-2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.theme-button:hover {
    background-color: var(--bg-4);
}